{% extends 'base.admin.html.twig' %}

{% block body %}
    <h1 class='mt-4'>GCSGCU index</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for g_c_s_g_c_u in g_c_s_g_c_us %}
            <tr>
                <td>{{ g_c_s_g_c_u.id }}</td>
                <td>{{ g_c_s_g_c_u.Text }}</td>
                <td>
                    <a class="text-primary mr-3" href="{{ path('g_c_s_g_c_u_show', {'id': g_c_s_g_c_u.id}) }}">show</a>
                    <a class="text-info" href="{{ path('g_c_s_g_c_u_edit', {'id': g_c_s_g_c_u.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-success" href="{{ path('g_c_s_g_c_u_new') }}">Create new</a>
{% endblock %}
