{% extends 'base.admin.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <h1>Site</h1>
    </div>
    <div class="row mt-3">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ site.Title }}</td>
            </tr>
            <tr>
                <th>HomePicture</th>
                <td><img class='img-fluid' style="width:250px;height:200px;" src="{{ vich_uploader_asset(site, 'HomePictureFile') }}">​</td>
            </tr>
            <tr>
                <th>First Category Picture</th>
                <td><img class='img-fluid' style="width:250px;height:200px;" src="{{ vich_uploader_asset(site, 'FirstCategoryPictureFile') }}">​</td>
            </tr>
            <tr>
                <th>Second Category</th>
                <td><img class='img-fluid' style="width:250px;height:200px;" src="{{ vich_uploader_asset(site, 'SecondCategoryPictureFile') }}"></td>
            </tr>
            <tr>
                <th>HomeBlog</th>
                <td>{{ site.HomeBlog }}</td>
            </tr>
        </tbody>
    </table>
    </div>
        <div class='row mt-3'>
            <a class="text-primary" href="{{ path('site_index') }}">back to list</a>
        </div>
        <div class='row mt-3'>
            <a class="text-success" href="{{ path('site_edit', {'id': site.id}) }}">edit</a>
        </div>
        <div class='row mt-3'>
            {{ include('site/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
