{% extends 'base.admin.html.twig' %}

{% block body %}
    <h1 class='mt-4'>Features index</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Feature_Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td>{{ feature.id }}</td>
                <td>{{ feature.Title }}</td>
                <td>{{ feature.Text }}</td>
                <td>{{ feature.FeaturePicture }}</td>
                <td>
                    <a class="text-primary mr-3" href="{{ path('features_show', {'id': feature.id}) }}">show</a>
                    <a class="text-info" href="{{ path('features_edit', {'id': feature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-success" href="{{ path('features_new') }}">Create new</a>
{% endblock %}
