{% extends 'base.admin.html.twig' %}


{% block body %}
    <h1 class='mt-4'>Articles index</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Kind</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Name }}</td>
                <td>{{ article.Price }}</td>
                <td>{{ article.Description }}</td>
                <td>{{ article.picture }}</td>
                <td>{{ article.RelationKinds.kind }}</td>
                <td>{{ article.Categories.category }}</td>
                <td>
                    <a class="text-primary mr-3" href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                    <a class="text-info" href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-success" href="{{ path('articles_new') }}">Create new</a>
{% endblock %}
