{% extends 'base.admin.html.twig' %}


{% block body %}
    <h1 class='mt-4'>Contact index</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full_Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.FullName }}</td>
                <td>{{ contact.Email }}</td>
                <td>{{ contact.Subject }}</td>
                <td>{{ contact.Text }}</td>
                <td>
                    <a class="text-primary mr-3" href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                    <a class="text-info" href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-success" href="{{ path('contact_new') }}">Create new</a>
{% endblock %}
