{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="item-img">
                <amp-img src="{{ vich_uploader_asset(article, 'PictureFile') }}" layout="responsive" width="598.404255319149" height="500" alt="image" class="placeholder-loader">
                    <div placeholder="" class="placeholder">
                        <div class="mobirise-spinner">
                            <em></em>
                            <em></em>
                            <em></em>
                        </div>
                    </div>
                </amp-img>
            </div>
        </div>
        <div class="col-6">
            <h4 data-id='{{article.name}}' class="item-title mbr-fonts-style mbr-bold text-success mbr-pb-1 display-4 name">{{article.name}}</h4><br>
            <p class="item-box-text item-box-text1 mbr-fonts-style mbr-pb-4 display-7">{{article.description}}</p>
        </div>
        <div class="col-3">
        <span class="cur mbr-fonts-style display-4">$ </span><span data-id='{{article.price}}' id='price' class="item-price mbr-fonts-style display-4">{{article.price}}</span><br>
        <a href="{{ path('articles_show', {'id':article.id}) }}" id="btnBuy" class="btn item-box-btn btn-black display-4 mt-5"><span>Buy Now</span></a>                    
        </div>
                        
    </div>
</div>
<script>
//Lorsque mon formulaire est validé
            $('#btnBuy').click(function (event) {
                //Requete pour ajouter une todo
                //je bloque la redirection de mon formulaire
                event.preventDefault()
                //on définit la valeur de l'input comme étant la variable todoAction
                let name = $('.name').attr('data-id')
                let price = $('#price').attr('data-id')
                //on lance la requete ajax (en post)
                $.post("{{ path('new_article') }}",
                    {   
                        Articles: name, 
                        Price: price,
                    }
                    , function (data) {
                        console.log(data)
                    })
            })
</script>
{% endblock %}